header#header
	div.row
		div.col-12
			div.site-branding.flex-row-center
				a.site-logo-link(href="/")
					img.site-logo(src="/img/logo/jw_red.png" alt="" + app.title)
				span.flex-1
				div.main-menu--container
					ul#main-menu.site-menu.flex-row-between.flex-row-sm-col.flex-row-sm-between
						li.menu-item(class={ 'current-menu-item': view.url == 'leaderboard' })
							a(href="/leaderboard/") Leaderboard
						if (user.isAdmin)
							li.menu-item(class={ 'current-menu-item': view.url == 'rewards' })
								a(href="/rewards/") Rewards
							li.menu-item(class={ 'current-menu-item': view.url == 'configuration' })
								a(href="/configuration/") Configuration
						else
							li.menu-item(class={ 'current-menu-item': view.url == 'rewards' })
								a(href="/rewards/") Rewards
						li.menu-item(class={ 'current-menu-item': view.url == 'about' })
							a(href="/about/") About
						if (user)
							li.menu-item
								a(href="/logout/") Logout
