extends layout
block content
	section
		div.content.container
			div.flex-row-align-center
				div.col-8
					- var emoji = config.local.keyword.plural;
					h2.col-5.col-padding-0.home-extract So many !{emoji} to share, all the errors and bugs that you see are really valuable to the development team.<br/><br/>That’s all folks! and get ready for next features 🔥
					
