extends layout

block content
	section.background-grey(ng-controller="RewardsController")
		div.content.container
			div.flex-row-align-center.no-padding
				div.col-9.rewards
					div.flex-row
						div.col.flex-1
							h1 Rewards (
								span(ng-bind="rewards|length")
								|)
					div.flex-row-wrap
						div.col.col-3(ng-repeat="(key, reward) in rewards")
							reward-card(reward="reward" key="key" on-remove="fetchRewards()")
						div.col.col-3
							reward-card(ng-if="newReward" reward="newReward" is-new="true" on-new="fetchRewards()")
						//- each reward, index in JSON.parse(JSON.stringify(config.rewards))
							div.col.col-3
								div.card.card-less-padding
									div.card--image
										a
											img(src="http://stage.roier.co/wp-content/uploads/2018/09/case-study-1-768x339.png")
									h4.flex-row-between= reward.name
										a.btn-ghost.btn-small.btn-edit
											i.edit
											span Edit
									div.excerpt
										p.flex-row.input-area
											strong.name Price:&nbsp;
											span.input
												| "{{"+reward.price+"}}"
												span(ng-bind="('"+config.local.keyword.token+"'|emojis)")
										p.flex-row.input-area
											strong.name Detail:&nbsp;
											if(reward.detail)
												span.input= reward.detail
											else
												textarea.input(name="detail" placeholder="Detail about the reward.")
						//- div.col.col-3
							div.card.card-less-padding
								div.card--image
									a
										img(src="http://stage.roier.co/wp-content/uploads/2018/09/case-study-1-768x339.png")
								h4 New 2
								div.excerpt
									p.flex-row.input-area
										strong.name Price:&nbsp;
										input.input(type="number" name="price" placeholder="Price in " + config.local.keyword.plural)
									p.flex-row.input-area
										strong.name Detail:&nbsp;
										textarea.input(name="detail" placeholder="Detail about the reward.")
								div.flex-row-align-end
									span.flex-1
									a.btn.btn-blue Save
								
			//- div.flex-row-align-center
				div.col-8
					h1 App Config
					pre= JSON.stringify(config.app, null, 4) 
			//- div.flex-row-align-center
				div.col-8
					h1 Local Config
					pre= JSON.stringify(config.local, null, 4)
