extends layout

block content
	section.background-grey(ng-controller="LeaderboardController")
		div.content.container
			div.flex-row-align-center.no-padding
				div.col-9.rewards
					ol.flex-column.leaderboard
						li(ng-repeat="(key, user) in leaderboard | orderBy:'total_coins':true" ng-class="{'top-ten': $index < 10}")
							p
								img.picture(ng-if="hasImage(user)" ng-src="{{getImage(user)}}")
								span.name
									span(ng-if="user.real_name" ng-bind="user.real_name")
									span(ng-if="!user.real_name && user.name" ng-bind="user.name")
									span(ng-if="!user.real_name && !user.name" ng-bind="user.id")
									span.emoji(ng-bind-html="(user.status_emoji|emojis)")
								span.total
									span(ng-bind="user.total_coins|number")
									span.emoji(ng-bind-html="(config.keyword.token|emojis)")
