body {
	font-size: 16px;
	line-height: 22px;
	font-family: $font-family-source-sans;
	background-color: $color-white;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-direction: column;
	> #content {
		display: flex;
		flex-direction: column;
		flex: 1;
		// > .content + section {
		// 	display: flex;
		// 	flex-direction: column;
		// 	flex: 1;
		// }
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 1em 0;
}

h1, h2, h3, h4, h5, h6, strong {
	font-family: $font-family-walsheim;
}

pre {
	font-family: monospace;
	display: block;
	padding: 11.5px;
	margin: 12px 0;
	font-size: 16px;
	line-height: 1.42857143;
	word-break: break-all;
	word-wrap: break-word;
	color: $color-dark;
	background-color: $color-gray-ligther;
	border: 1px solid $color-gray-ligth;
	border-radius: 4px;
}

code, kbd, pre, samp {
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.highlight-title {
	font-family: $font-family-walsheim;
	font-weight: bold;
	color: $color-dark;
	font-size: 2.25em;
	margin-bottom: .6em;
	line-height: 1.15em;
	span {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: -2px;
			width: 100%;
			height: 100%;
			background-color: $color-yellow;
			padding: 0px 2px;
			z-index: -1;
			box-sizing: content-box;
		}
	}
	&-white span.background {
		background-color: $color-white;
	}
	&-text-blue {
		color: $color-blue;
	}
	&-blue span.background {
		background-color: $color-blue;
	}
	&-text-white {
		color: $color-white;
	}
	&-text-red {
		color: $color-red;
	}
}
.text-gray {
	color: $color-gray;
}

.text-white {
	color: $color-white;
}

.background-blue {
	background-color: $color-blue;
}

.background-red {
	background-color: $color-red;
}

.background-grey {
	padding: 120px 0;
	background-color: $color-gray-ligther;
}

.page-title, .home-title {
	font-size: 2em;
	@include breakpoint(sm) {
		font-size: 3.2em;
	}
}

.btn {
	border-radius: 3em;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	padding: .5em 1em;
	margin: .25em 0;
	outline: none;
	text-align: center;
	cursor: pointer;
	max-height: 2.4em;
	.icon {
		width: 1em;
		height: 1em;
		line-height: 1em;
		margin: 0.5em 0;
		svg {
			max-width: 100%;
			max-height: 100%;
		}
		+ span {
			margin-left: .25em;
		}
	}
	&:focus {
		outline: none;
	}
	&-blue {
		@extend .btn;
		color: $color-white;
		background-color: $color-blue;
		.icon svg {
			fill: $color-blue;
		}
		&:hover {
			background-color: lighten($color-blue, 3%);
			.icon svg {
				fill: lighten($color-blue, 3%);
			}
		}
	}
	&-white {
		@extend .btn;
		color: $color-white;
	}
	&-red {
		@extend .btn;
		color: $color-white;
		background-color: $color-red;
	}
	&-ghost {
		@extend .btn;
		background-color: transparent;
		border: 1px solid;
		.icon svg {
			fill: $color-blue;
		}
		&:hover {
			color: lighten($color-blue, 12%);
			border-color: lighten($color-blue, 12%);
			.icon svg {
				fill: lighten($color-blue, 12%);
			}
		}
	}
	&-small {
		font-size: .75em;
	}
	&.border-radius {
		border-radius: .5em;
	}
}

.card {
	background-color: $color-white;
	border-radius: 3px;
	color: $color-gray;
	padding: 48px;
	position: relative;
	box-shadow: 0px 40px 80px -40px rgba(0,0,0,.4);
	&-less-padding {
		padding: 24px;
		.card--image {
			margin: -24px -24px 0 -24px;
		}
	}
	&-no-padding {
		padding: 0px;
		.card--image {
			margin: 0;
		}
	}
	&--image {
		margin: -48px -48px 0 -48px;
		height: 200px;
		background-color: $color-gray-ligther;
		position: relative;
		upload-file {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		img {
			display: block;
			width: 100%;
			max-height: 200px;
			object-fit: cover;
			border-radius: 3px 3px 0 0;
		}
	}
	&--updating {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		display: none;
		opacity: 0;
		visibility: hidden;
		transition: opacity .25s ease-out;
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color-dark, .1);
		}
		.dots {
			width: 200px;
			height: 200px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: auto;
			filter: url('#goo');
			$animation-duration-rotate: 6s;
			animation: rotate-move $animation-duration-rotate ease-in-out infinite;
			.dot {
				width: 70px;
				height: 70px;
				border-radius: 50%;
				background-color: #000;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				$animation-duration-dot: 6s;
				&.dot-3 {
					background-color: $color-blue;
					animation: dot-3-move $animation-duration-rotate ease infinite, index $animation-duration-dot ease infinite;
				}

				&.dot-2 {
					background-color: $color-gray;
					animation: dot-2-move $animation-duration-rotate ease infinite, index $animation-duration-dot -($animation-duration-rotate * 2) ease infinite;
				}

				&.dot-1 {
					background-color: $color-yellow;
					animation: dot-1-move $animation-duration-rotate ease infinite, index $animation-duration-dot -($animation-duration-rotate) ease infinite;
				}
			}
		}
	}
	&.uploading {
		.card--image,
		.card--header,
		.card--excerpt,
		.card--footer {
			filter: url(#blurFilter);
			-webkit-filter: url(#blurFilter);
		}
		.card--updating {
			display: block;
			opacity: 1;
			visibility: visible;
		}
	}
	&--header {
		h4 {
			width: 100%;
			color: $color-blue;
			font-family: $font-family-walsheim;
			font-size: 1.5em;
			line-height: 1em;
			margin-top: 1em;
		}
	}
	&--excerpt {
		margin-top: 1em;
		margin-bottom: 1em;
		color: $color-gray-ligth;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}

input[type="text"],
input[type="number"],
textarea {
	color: rgba($color-black, .5);
	border: none;
	border-bottom: 2px solid $color-blue;
	border-radius: 0px;
	margin: .25em 0;
	font-size: 0.85em;
	&:focus {
		outline: none;
	}
}

.icon {
	svg {
		width: 100%;
		height: 100%;
		fill: $color-blue;
	}
}

.emoji {
	max-width: 1.4em;
	max-height: 1.4em;
}
