@mixin breakpoint($point) {
	@if $point == lg {
		@media (min-width: 1440px) { @content; }
	}
	@else if $point == md {
		@media (min-width: 992px) { @content; }
	}
	@else if $point == sm {
		@media (min-width: 768px)  { @content; }
	}
}
