$max-width: 1440px;
$grid-columns: 12;


$color-dark: #0D121A;
$color-black: #000000;
$color-gray: #555555;
$color-gray-ligth: #A1A1A1;
$color-gray-ligther: #F7F7F7;
$color-white: #FFFFFF;
$color-yellow: #FCEE22;
$color-red: #FA5B62;
$color-blue: #128EFF;

$font-family-walsheim: 'GT Walsheim', sans-serif;
$font-family-source-sans: 'Source Sans Pro', sans-serif;
