<div ng-if="isAdmin" class="card card-less-padding" ng-class="{'updating': updating, 'uploading': uploading}">
	<div class="card--updating">
		<div class="overlay"></div>
		<div class="dots">
			<div class="dot dot-1"></div><div class="dot dot-2"></div><div class="dot dot-3"></div>
		</div>
	</div>
	<div class="card--image">
		<upload-file class="full" ng-if="isNew || ((!imageURL && imageLoaded) || updating)" url="reward.image"></upload-file>
		<storage-image ng-if="imageURL && imageLoaded" url="reward.image"></storage-image>
	</div>
	<div class="card--header">
		<h4 class="flex-row-between">
			<span class="card--name" ng-if="!updating && reward.name" ng-bind="reward.name"></span>
			<input ng-if="updating" ng-model="reward.name" class="input" type="text" name="name" placeholder="Name">
			<a class="btn-ghost btn-small btn-action btn-edit" ng-if="!updating" ng-click="edit()">
				<i class="icon edit"><img src="/img/icons/edit.svg"></i>
				<span>Edit</span>
			</a>
			<a class="btn-ghost btn-small btn-action btn-cancel" ng-if="updating" ng-click="cancel()">
				<i class="icon edit"><img src="/img/icons/cancel.svg"></i>
				<span>Cancel</span>
			</a>
		</h4>
	</div>
	<div class="card--excerpt">
		<div class="flex-row input-area">
			<strong class="name"><label for="reward-price-{{reward.id}}">Price:</label></strong>
			<div class="input">
				<input id="reward-price-{{reward.id}}" ng-if="updating" ng-model="reward.price" type="number" name="price" placeholder="Price in {{config.keyword.plural}}">
				<span ng-if="!updating && reward.price">
					<span>{{ reward.price | number }}
						<span class="emoji" ng-bind-html="(config.keyword.token|emojis)"></span>
					</span>
				</span>
				<p ng-if="updating" class="help-text">Price in {{config.keyword.plural}}</p>
				<p class="placeholder" ng-if="!updating && !reward.price">Price for the review in {{config.keyword.plural}}</p>
			</div>
		</div>
		<div class="flex-row input-area input-areas">
			<div class="flex-row-center input-area half">
				<strong class="name"><label for="reward-stock-{{reward.id}}">In stock:</label></strong>
				<div class="input">
					<input id="reward-stock-{{reward.id}}" ng-if="updating" ng-model="reward.stock" type="number" name="stock">
					<span ng-if="!updating" ng-bind="reward.stock"></span>
				</div>
			</div>
			<div class="flex-row-center input-area half">
				<strong class="name"><label for="reward-unique-{{reward.id}}">Unique:</label></strong>
				<div class="input">
					<input id="reward-unique-{{reward.id}}" ng-if="updating" ng-model="reward.unique" type="checkbox" name="unique">
					<span ng-if="!updating && reward.unique" class="icon icon-check"></span>
					<span ng-if="!updating && !reward.unique">No</span>
				</div>
			</div>
		</div>
		<div class="flex-row input-area input-area-textarea">
			<strong class="name"><label for="reward-detail-{{reward.id}}">Detail:</label></strong>
			<textarea id="reward-detail-{{reward.id}}" ng-if="updating" ng-model="reward.detail" class="input" name="detail" placeholder="Detail about the reward."></textarea>
			<p class="input" ng-if="!updating && reward.detail" ng-bind="reward.detail"></p>
			<p class="input placeholder" ng-if="!updating && !reward.detail">Add a detail for the reward</p>
		</div>
		<div class="flex-row input-area input-area-options">
			<strong class="name"><label for="reward-options-{{reward.id}}">Options:</label></strong>
			<reward-chips id="reward-options-{{reward.id}}" ng-if="updating" ng-model="reward.options" class="input" name="detail" placeholder="Options for this reward."></reward-chips>
			<div class="input wrap" ng-if="!updating && reward.options">
				<div class="chip" ng-repeat="chip in reward.options"><span ng-bind="chip"></span></div>
			</div>
			<p class="input placeholder" ng-if="!updating && !reward.options">No Options</p>
		</div>
	</div>
	<div class="card--footer flex-row-align-end" ng-class="{'footer-show': (!isNew && updating) || (isNew && updating && hasChanged())}">
		<div ng-if="!isNew">
			<a class="btn btn-red" ng-click="remove()">Remove</a>
		</div>
		<span class="flex-1"></span>
		<div ng-if="hasChanged()">
			<a ng-if="!btnMessage" class="btn btn-blue" ng-click="save()">Save</a>
			<a ng-if="btnMessage" ng-bind="btnMessage" class="btn btn-blue" ng-click="save()"></a>
		</div>
	</div>
</div>
<div ng-if="!isAdmin" class="card card-less-padding" ng-class="{'updating': updating, 'uploading': uploading}">
	<div class="card--image" ng-if="reward.image">
		<storage-image ng-if="imageURL && imageLoaded" url="reward.image"></storage-image>
	</div>
	<div class="card--header">
		<h4 class="flex-row-between">
			<span class="card--name" ng-if="!updating && reward.name">
				{{reward.name}}
				<span ng-if="reward.unique" class="unique-text">*</span>
			</span>
			<span class="card--price" ng-bind="reward.price | number"></span>
		</h4>
	</div>
	<div class="card--excerpt">
		<p class="detail" ng-bind="reward.detail" ng-if="reward.detail"></p>
		<div ng-if="show_options" class="options-container">
			<reward-options ng-model="reward_options_selected[$index]" options="options" ng-repeat="options in reward_options_steps" ng-disabled="$index > 0 && !reward_options_selected[$index - 1]"></reward-options>
		</div>
		<p ng-if="reward.unique" class="help-text">*Only one per person</p>
	</div>
	<div class="card--footer flex-row-align-end footer-show" ng-class="{'footer-show': (!isNew && updating) || (isNew && updating && hasChanged())}">
		<a class="btn btn-blue" ng-click="redeem()" ng-disabled="!available || choosing_options">
			<span ng-if="!available">Not Available</span>
			<span ng-if="available">
				<span ng-if="!choosing_options">Redeem</span>
				<span ng-if="choosing_options && show_options">
					<span ng-if="!optionsSelected()">Choose between the options</span>
					<span ng-if="optionsSelected()">Redeem</span>
				</span>
			</span>
		</a>
	</div>
</div>
